<main>
  <br>
  <br><br>

  <h1 class="center1">Booking for the event "{{event.title}}"</h1>
  <br><br>
  <br><br>

  <div class="ggg">

    <p class="container3"> <strong>Title:</strong> {{event.title}} </p> <br>
    <p class="container3"> <strong>Category:</strong> {{event.category}} </p><br>

    <p class="container3"><strong>Start Time:</strong> {{event.timestart}}</p><br>
    <p class="container3"><strong>End Time: </strong> {{event.endtime}}</p><br>
    <p class="container3"><strong>Address:</strong> {{event.address}}</p><br>
    <p class="container3"><strong>City:</strong> {{event.city}}</p><br>
    <p class="container3"><strong>State:</strong> {{event.state}}</p><br>
    <p class="container3"><strong>Description:</strong> {{event.description}}</p><br>
    <p class="container4"><strong>Ticket Price:</strong> {{event.price}}</p><br>
    <br><br><br>
  </div>
  <br><br>

  <div class="center">
    <h1>Payment</h1>
    <p>Accepted Cards
    <p>
    <div class="icon-container">
      <i class="fa fa-cc-visa" style="color:navy;"></i>
      <i class="fa fa-cc-amex" style="color:blue;"></i>
      <i class="fa fa-cc-mastercard" style="color:red;"></i>
      <i class="fa fa-cc-discover" style="color:orange;"></i>
    </div>
    <label for="cname">Name on Card</label>
    <input type="text" id="cname" name="cardname" placeholder="John More Doe" required>
    <label for="ccnum">Credit card number</label>
    <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" required>
    <label for="expmonth">Exp Month</label>
    <input type="text" id="expmonth" name="expmonth" placeholder="September" required>
    <div class="row">
      <div class="col-50">
        <label for="expyear">Exp Year</label>
        <input type="text" id="expyear" name="expyear" placeholder="2018" required>
      </div>
      <div class="col-50">
        <label for="cvv">CVV</label>
        <input type="text" id="cvv" name="cvv" placeholder="352" required>
      </div>
    </div>
  </div>


  <br>



  <br>
  <div class="center1"><a href="/bookedevents/{{event._id}}">Book this Event</a></div><br>
  <div class="center1">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/userhomepage">Homepage</a>
  </div>
</main>