<center><p class="container3"> Category:    {{event.title}} </p></center> 
 <center><p class="container3"> Category:    {{event.category}} </p></center> 
   <center><p class="container3">Creator Name:    {{this.creator}}</p></center>
  <center><p class="container3">Date:   {{this.date}}</p></center> 
  <center><p class="container3">Start Time:   {{this.timestart}}</p></center>
  <center><p class="container3">End Time:   {{this.endtime}}</p></center>
  <center><p class="container3">Address:   {{this.address}}</p></center>
  <center><p class="container3">City:    {{this.city}}</p></center>
  <center><p class="container3">State:    {{this.state}}</p></center>
  <center><p class="container3">Description:    {{this.description}}</p></center>  
  <center><p class="container4">Ticket Price:    {{this.price}}</p></center> 
<br><br><br><br><br><br><br><br>
<div><center><button class='ghost-round goodwidth' value = "logout" ><a href = "/bookedevents/{{event._id}}">Book this Event</a></button></center></div>